

.main{
	width: 85%;
	margin: 0 auto;
}
.aboutMe{
	/*border-bottom: 5px solid #353535;*/
}

/*用渐变工具绘制圆坑*/
.gradient{
	width: 100%;
	height: 600px;
	position: relative;
	background: radial-gradient(ellipse,#dfdfdf 1%,#aaa 20%,#ccc 45%,#efefef 70%);
}
.frontEnd{
	position: absolute;
	top: 245px;
	left: 43%;
	font-size: 65px;
	color: #888;
	letter-spacing: 30px;
	text-shadow:10px 10px 10px;
}
.intro{
	width: 100%;
	height: 600px;
	overflow: hidden;
}
.introLeft{
	height: 100%;
	width: 35%;
	float: left;
}
.introLeft ul{
	width: 100%;
	padding: 35% 0 0 5%;

}
.introLeft ul li{
	float: left;
	margin-left: 25px;
}
.introLeft ul li p{
	width: 100%;
	height: 50px;
	line-height: 50px;
	letter-spacing: 1px;
}
.introLeft ul li p a:hover{
	text-decoration: underline;
	/*color: #DD102E;*/
}


.introMiddle{
	width: 30%;
	height: 100%;
	padding-top: 12%;
	/*left: 35%;*/
	float: left;
}
.introMiddle .startk{
	position: relative;
	display: none;
	height: 60px;
	line-height: 60px;
	width: 94%;
	text-align: center;
	letter-spacing: 2px;
	text-shadow:2px 2px 5px #616468;
}
.introMiddle span{
	/*display: inline-block;*/
	display: none;
	height: 80px;
	line-height: 80px;
	width: 30%;
	overflow: hidden;
	text-align: center;
	border: 1px solid #ccc;
	box-shadow: 5px 5px #616468;
}

.introRight{
	height: 100%;
	width: 35%;
	float: right;
}
.introRight .introRightBox{
	width: 200%;
	height: 100%; 
}
.introRight .introRightImg{
	height: 55%;
	position: relative;
}
.introRight img{
	display: none;
	width: 40%;
	position: absolute;
	left: 48%;
	bottom: 130px;
}
.ArticBox{
	position: relative;
	height: 45%;
}
.introRight .introRightArtic{
	display: none;
	position: absolute;
	left: 300px;
}
.introRight .introRightArtic p{
	text-align: center;
	letter-spacing: 2px;
	margin-top: 12px;
	color: #272822;
}


.skills{
	background: #cecece;
	/*padding-bottom: 15px;*/
}
.skillTitle{
	text-align: center;
	letter-spacing: 2px;
	color: #272822;
	height: 120px;
	line-height: 120px;
}
.skillContent{

}
.skillItem{
	width: 20%;
	height: 350px;
	border-radius: 20px;
	float: left;
	position: relative;
	margin: 5px 0 40px 4%;
	border: 2px solid #fff;
	color: #fff;
	overflow: hidden;
	background: #dfdfdf;
}
.skillItem .skillLevel{
	text-align: center;
	width: 100%;
	font-size: 150%;
	background: #2481AF;
	position: absolute;
	bottom: 0;
	border-radius: 0 0 20px 20px;
}
/*定义各项技能的水平高度*/
.htmlOption .skillLevel{
	height: 210px;
}
.cssOption .skillLevel{
	height: 230px;
}
.jsOption .skillLevel{
	height: 210px;
}
.jqueryOption .skillLevel{
	height: 250px;
}
.bootstrapOption .skillLevel{
	height: 125px;
}
.nodeOption .skillLevel{
	height: 100px;
}
.vueOption .skillLevel{
	height: 190px;
}
.skillItem .skillLevel p:first-child{
	margin: 60px 0 10px 0;
}
.bsp{
	margin-top: 30px;
}
.nodeP{
	margin-top: 20px;
}
.skillItem .skillContent{
	color: #333;
	display: none;
}
.skillItem .skillContent h2{
	text-align: center;
}
.skillItem .skillContent p{
	margin: 20px 10px 0 20px;
}
.skillItem .skillContent h2:first-child{
	margin-top: 55px;
}






.projects{
	height: 750px;
	width: 100%;
	background: #b5b5b5;
}
.projectTitle{
	text-align: center;
	letter-spacing: 2px;
	padding: 35px 0 0 15px;
	color: #272822;
}
.projectTitle .first{
	float: left;
	height: 65px;
	line-height: 65px;
}
.projectTitle .projectTitleName{
	padding: 0 25px 0 15px;
}
.projectOption{
	position: relative;
}
.projectOption ul{
	display: inline-block;
}
.projectOption ul li{
	float: left;
	width: 130px;
	text-align: center;
}
.projectSlide{
	position: absolute;
	width: 130px;
	height: 7px;
	top: 56px;
	border-bottom: 2px solid #dd102e;
	text-align: center;
}
.projectSlide b{
	display: inline-block;
	height: 0px;
	width: 0px;
	border-width: 8px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #dd102e;
	position: relative;
	top: -30px
}
.projectOption ul li.active{
	color: #dd102e;
}


.projectContent{
	width: 100%;
	height: 550px;
	position: relative;
	background: #fff;
}
.projectContent .imgBox{
	background: #ccc;
	position: absolute;
	top: 15px;
	left: 1.5%;
	width: 97%;
	height: 520px;
	overflow-x: hidden;
}
.projectContent img{
	width: 100%;
}

/*滚动监听样式*/
.nav{
	position: fixed;
	bottom: 250px;
	right: 25px;
}
.nav li{
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background: #F4D03F;
	border-radius: 10px;
	margin-bottom: 2px;
}
.nav li a {
	display: inline-block;
	width: 100%;
}
.nav li a:hover{
	color: #fff;
	border-radius: 10px;
	background: #dd102e;
}
.navActive{
	color: #fff;
	border-radius: 10px;
	background: #dd102e;
}








